/* .diagram-title {
    align-self: flex-start;
    margin-top: 2rem;
    font-size: 60px;
} */

.diagrams-wrapper {
    position: absolute;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    right: 10%;
    right: -100%;
    top: -100%;
    transition: scale .2s ease-in-out; 
    z-index: 2;
}

.diagrams-wrapper:hover {
    scale: 110%;
}

.diagram1 {
    background-color: #222222;
    transform: rotateY(180deg) translateZ(50vw); 
}

.diagram2 {
    background-color: #222222;
    transform: rotateY(90deg) translateX(25vw);
    left: calc(100% - 25vw);
}

.diagram3 {
    background-color: #222222;
    transform: rotateY(-90deg) translateX(-25vw);
    right: calc(100% - 25vw);
}

.diagram4 {
    background-color: #222222;
}
  
.diagram {
    position: absolute;
    width: 50vw;
    height: 50vh;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
    border: .3em solid #d7d7d7; 
}

.diagram:hover {
    border: .3em solid rgb(255, 222, 35);
}

.diagram-wrapper {
    transform: translateZ(4em);
    display: grid;
    place-items: center;
    width: 90%;
    height: 90%;
}