.buttons-wrapper {
    position: absolute;
    height: 50vh;
    display: flex;
    justify-content: center;
    left: 0%;
    top: 31%;
    width: 30%;
}

.buttons-wrapper button {
    position: absolute;
    font-size: .9em;
    width: 12em;
    box-shadow: 6px 6px 2px black;
    transition: all 50ms ease-in-out;
    background-color: #222222;
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
}

.buttons-wrapper button:hover {
    scale: 1.05;
    color: rgb(255, 222, 35);
    border: 2px solid rgb(255, 222, 35);
}

.buttons-wrapper button:nth-child(1) {
    top: 0;
    left: -100%;
}
.buttons-wrapper button:nth-child(2) {
    top: 5em;
    left: -100%;
}
.buttons-wrapper button:nth-child(3) {
    top: 10em;
    left: -100%;
}
.buttons-wrapper button:nth-child(4) {
    top: 15em;
    left: -100%;
}

.buttons-wrapper button:active {
    scale: 0.9;
    box-shadow: 2px 2px 0 black;
}