@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* font-family: 'Alatsi', sans-serif; */
/* font-family: 'Source Serif Pro', serif; */

* {
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
  letter-spacing: 0.15em;
  margin: 0;
}

.App {
  position: relative;
  color: #d7d7d7;
  /* max-width: 100vw; */
  /* height: 100vh; */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .cube-wrapper {
  max-width: 100vw;
  height: 100vh;
} */

.more-wrapper {
  max-width: 100vw;
  height: 100vh;
  /* margin-top: 100vh; */
}

.overflow-hidden {
  overflow: hidden;
}

h1 {
  font-family: 'Alatsi', sans-serif;
}

button {
  padding: 1em 2em;
  border: none;
}

button:hover {
  cursor: pointer;
}




